<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="catamaran">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://solar_grid/models/grid/mesh/solar_grid_1.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://solar_grid/models/grid/mesh/solar_grid_1.dae" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1000.0"/>
      <origin xyz="0 0 0" rpy="$0 0 0"/> 
      <inertia ixx="1200.0" ixy="0.0" ixz="0.0" iyy="3930" iyz="0.0" izz="4460.0"/>
    </inertial>
  </link>
</robot>

