<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-thrusters">
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
    <!-- === engine === -->
      <xacro:engine prefix="left" position="-2.373776 1.027135 0.318237" orientation="0.0 0.0 0.0" />
      <xacro:engine prefix="right" position="-2.373776 -1.027135 0.318237" orientation="0.0 0.0 0.0" />
      <xacro:engine prefix="forward_left" position="1 1.027135 0.318237" orientation="0.0 0.0 -1.07" />
      <xacro:engine prefix="forward_right" position="1 -1.027135 0.318237" orientation="0.0 0.0 1.07" />

      <xacro:include filename="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_gazebo_thruster_config.xacro" />
        <xacro:wamv_gazebo_thruster_config name="left" />
        <xacro:wamv_gazebo_thruster_config name="right" />
        <xacro:wamv_gazebo_thruster_config name="forward_left" />
        <xacro:wamv_gazebo_thruster_config name="forward_right" />
</robot>